.about-company {

  padding-top: 80px;
  padding-bottom: 150px;
}

@media  screen and (max-width: 768px) {
  .about-company {
    padding-bottom: 180px;
  }
}

@media  screen and (max-width: 620px) {
  .about-company {
    padding-bottom: 120px;
  }
}

.about-company h2 {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-title;
}

.about-company__wrapper {
  display: flex;
  align-items: flex-start;
}

@media  screen and (max-width: 990px) {
  .about-company__wrapper {
    flex-direction: column;
  }
}

.about-company__text {
  margin-bottom: -24px;
}

.about-company__text p {
  margin: 0;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.about-company__list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 630px;
  margin: 0;
  padding: 0;
  padding-left: 86px;

  list-style: none;
}

@media  screen and (max-width: 1070px) {
  .about-company__list {
    padding-left: 40px;
  }
}

@media  screen and (max-width: 990px) {
  .about-company__list {
    width: 542px;
    margin-top: 40px;
    padding-left: 0;
  }
}

@media  screen and (max-width: 620px) {
  .about-company__list {
    display: block;
    width: 100%;
  }
}

.about-company__list li {
  position: relative;
  width: 271px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media  screen and (max-width: 620px) {
  .about-company__list li {
    width: 100%;
  }
}

@media  screen and (max-width: 620px) {
  .about-company__list li::before {
    content: "";

    position: absolute;

    top: 0;
    right: 38px;

    height: 100%;
    width: 1px;

    background-color: $color-grey-decor;
  }
}

.about-company__list li:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;

  border-bottom: 1px solid $color-grey-decor;
  border-right: 1px solid $color-grey-decor;
}

.about-company__list li:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;

  border-bottom: 1px solid $color-grey-decor;
}

.about-company__list li:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 2;
  grid-row-end: 3;

  border-right: 1px solid $color-grey-decor;
}
.about-company__list li:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;
}

@media  screen and (max-width: 620px) {
  .about-company__list li:nth-child(1),
  .about-company__list li:nth-child(2),
  .about-company__list li:nth-child(3),
  .about-company__list li:nth-child(4) {
    border: none;
  }
}

@media  screen and (max-width: 620px) {
  .about-company__list li:nth-child(1)::after,
  .about-company__list li:nth-child(2)::after,
  .about-company__list li:nth-child(3)::after {
    content: "";

    position: absolute;

    bottom: 0;
    left: -30px;

    height: 1px;
    width: 120%;

    background-color: $color-grey-decor;
  }
}


.about-company__list li span {
  display: block;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 96px;
  line-height: 80px;
  //leading-trim: both;
  //text-edge: cap;
  color: $color-default-white;

  text-shadow: -1px 0 $color-general, 0 1px $color-general, 1px 0 $color-general, 0 -1px $color-general;
}

.about-company__list li p {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $color-title;
}

@media  screen and (max-width: 620px) {
  .about-company__list li p {
    max-width: 209px;
  }
}
