.btn {
  display: block;
  width: 100%;

  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $color-default-white;

  border: none;
  cursor: pointer;
  background-color: $color-general;
  box-shadow: 0px 13px 12px -10px rgba(229, 36, 33, 0.25);
}

.btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), $color-general;
}

.btn--transparent {
  background-color: transparent;
  border: 1px solid $color-text;
  box-shadow: none;
}


.btn--transparent:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), $color-general;
  border: 1px solid $color-text;
}

.btn--success {
  color: #6A9E15;

  background-color: $color-grey-background;
  border: 1px solid #6A9E15;
  box-shadow: none;
}

.btn--success:hover {
  color: $color-default-white;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #6A9E15;
  box-shadow: 0px 13px 12px -10px rgba(229, 36, 33, 0.25);
}

.btn--error {
  color: $color-general;

  background-color: $color-grey-background;
  border: 1px solid $color-general;
  box-shadow: none;
}

.btn--error:hover {
  color: $color-default-white;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), $color-general;
  box-shadow: 0px 13px 12px -10px rgba(229, 36, 33, 0.25);
}

.btn--transparent-red {
  color: $color-general;

  background-color: $color-default-white;
  border: 1px solid $color-general;
  box-shadow: none;
}

.btn--transparent-red:hover {
  color: $color-default-white;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), $color-general;
  box-shadow: 0px 13px 12px -10px rgba(229, 36, 33, 0.25);
}

.btn--map {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 17px;
  padding-right: 17px;

  color: $color-general;

  background-color: #FCE9E9;
  border: 1px solid #FCE9E9;
  box-shadow: none;
}

.btn--map:hover {
  color: $color-default-white;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), $color-general;
  border: 1px solid $color-general;
  box-shadow: 0px 13px 12px -10px rgba(229, 36, 33, 0.25);
}

.btn--non-active {
  color: $color-grey-non-active;

  background: none;

  background-color: $color-grey-background;
  box-shadow: none;
  cursor: default;
  background-image: none;
}

.btn--non-active:hover {
  color: $color-grey-non-active;

  background: none;

  background-color: $color-grey-background;
  box-shadow: none;
  cursor: default;
  background-image: none;
}
