.buttons-bar {
  position: sticky;
  display: flex;
  justify-content: center;

  bottom: 0;

  max-width: 736px;
  margin: 0 auto;

  z-index: 900;
}

@media  screen and (max-width: 768px) {
  .buttons-bar {
    max-width: 564px;
  }
}

.buttons-bar__wrapper {
  display: flex;
  justify-content: center;

  background-color: #FFFFFF;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #F5F6FA;
  box-shadow: 0px -6px 30px -15px rgba(136, 138, 150, 0.3);
}

@media  screen and (max-width: 768px) {
  .buttons-bar__wrapper {
    width: 100%;

    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.buttons-bar__wrap {
  display: flex;
  width: 100%;
}

@media  screen and (max-width: 768px) {
  .buttons-bar__wrap {
    display: flex;
    justify-content: space-between;
  }
}

@media  screen and (max-width: 540px) {
  .buttons-bar__wrap {
    max-width: 375px;
  }
}

.buttons-bar button {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 55px;
  padding-right: 27px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $color-grey-text;

  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

@media  screen and (max-width: 768px) {
  .buttons-bar button {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 28px;

    font-size: 14px;
    line-height: 12px;
    text-align: center;
  }
}

@media  screen and (max-width: 540px) {
  .buttons-bar button {
    max-width: 64px;

    font-size: 10px;
    line-height: 11px;
  }
}



.buttons-bar button::before {
  content: "";

  position: absolute;

  top: 13px;
  left: 20px;

  width: 28px;
  height: 28px;

  background-repeat: no-repeat;
}

@media  screen and (max-width: 768px) {
  .buttons-bar button::before {
    top: 0;
    left: 50%;

    transform: translate(-50%, 0);

    width: 24px;
    height: 24px;
  }
}


.buttons-bar button:nth-child(1)::before {
  background-image: url(../img/svg/trace.svg);
}

.buttons-bar button:nth-child(2)::before {
  background-image: url(../img/svg/calculate.svg);
}

.buttons-bar button:nth-child(3)::before {
  background-image: url(../img/svg/help.svg);
}

.buttons-bar button:hover {
  color: $color-default-white;

  background-color: $color-general;
}

.buttons-bar button:hover:nth-child(1)::before {
  background-image: url(../img/svg/trace-hover.svg);
}

.buttons-bar button:hover:nth-child(2)::before {
  background-image: url(../img/svg/calculate-hover.svg);
}

.buttons-bar button:hover:nth-child(3)::before {
  background-image: url(../img/svg/help-hover.svg);
}
