.call-to-action {
  background-color: $color-title;
  background-image: url(../img/svg/bg-call-to-action.svg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 768px) {
  .call-to-action {
    background-image: url(../img/svg/bg-call-to-action-2.svg);
  }
}

@media  screen and (max-width: 650px) {
  .call-to-action {
    background-image: url(../img/svg/bg-call-to-action-3.svg);
  }
}

.call-to-action .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.call-to-action__container {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  margin: 0 auto;
}

@media  screen and (max-width: 650px) {
  .call-to-action__container {
    flex-direction: column;
    align-items: center;
  }
}

.call-to-action h2 {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-main;
}

@media  screen and (max-width: 768px) {
  .call-to-action h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

.call-to-action__wrap {
  display: flex;
  align-items: center;
}

@media  screen and (max-width: 650px) {
  .call-to-action__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
}

.call-to-action__wrapper a {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $color-grey-non-active;
}

.call-to-action__wrapper a:hover {
  color: $color-main;
}

@media  screen and (max-width: 540px) {
  .call-to-action__wrapper a {
    font-size: 20px;
    line-height: 24px;
  }
}
