.car-park {
  padding-top: 180px;
  padding-bottom: 96px;
}

@media  screen and (max-width: 1283px) {
  .car-park {
    padding-top: 206px;
  }
}

@media  screen and (max-width: 1217px) {
  .car-park {
    padding-top: 230px;
  }
}

@media  screen and (max-width: 1200px) {
  .car-park {
    padding-top: 210px;
  }
}

@media  screen and (max-width: 1100px) {
  .car-park {
    padding-top: 144px;
  }
}

@media  screen and (max-width: 630px) {
  .car-park {
    padding-top: 96px;
  }
}

@media  screen and (max-width: 600px) {
  .car-park {
    padding-top: 92px;
  }
}

.car-park__header {
  margin-top: 24px;
  margin-bottom: 40px;
}

.car-park__header h1 {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color-title;
}

@media  screen and (max-width: 540px) {
  .car-park__header h1 {
    font-size: 30px;
    line-height: 33px;
  }
}

.car-park__header h2 {
  max-width: 155px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 20px;
  line-height: 24px;
  color: $color-title;

  background-color: $color-grey-background;
}

@media  screen and (max-width: 768px) {
  .car-park__header h2 {
    max-width: 254px;
    padding-right: 111px;

    color: $color-text;
  }
}

.car-park__description {
  margin: 0;
  margin-bottom: 60px;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.car-park__wrapper {
  display: flex;
}

@media  screen and (max-width: 860px) {
  .car-park__wrapper {
    flex-direction: column;
  }
}

.car-park__aside {
  width: 25%;
  padding-right: 15px;
}

@media  screen and (max-width: 860px) {
  .car-park__aside {
    width: 100%;
    padding-right: 0;
  }
}

.car-park__slider-mobile {
  position: sticky;

  top: 163px;
}

@media  screen and (max-width: 1283px) {
  .car-park__slider-mobile {
    top: 189px;
  }
}

@media  screen and (max-width: 1217px) {
  .car-park__slider-mobile {
    top: 213px;
  }
}

@media  screen and (max-width: 1200px) {
  .car-park__slider-mobile {
    top: 190px;
  }
}

@media  screen and (max-width: 1100px) {
  .car-park__slider-mobile {
    top: 120px;
  }
}

@media  screen and (max-width: 860px) {
  .car-park__slider-mobile {
    position: static;
    width: 100%;
  }
}

@media  screen and (max-width: 860px) {
  .car-park__aside {
    margin-bottom: 48px;
  }
}

.car-park__aside ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 860px) {
  .car-park__slider-mobile-wrapper {
    display: flex;
    justify-content: initial;
    flex-wrap: nowrap;
  }
}

.car-park__item {
  display: flex;
}

@media  screen and (max-width: 860px) {
  .car-park__item {
    flex-shrink: 0;
  }
}

.car-park__item:not(:last-child) {
  margin-bottom: 16px;
}

@media  screen and (max-width: 860px) {
  .car-park__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.car-park__link {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 5px;
  padding-right: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $color-text;

  background-color: $color-grey-background;
}

@media  screen and (max-width: 860px) {
  .car-park__link {
    padding-left: 27px;
    padding-right: 27px;
  }
}

.car-park__link:hover {
  color: $color-general;
}

.car-park__link--active {
  color: $color-default-white;

  background-color: $color-general;
  box-shadow: 0px 13px 12px -10px rgba(229, 36, 33, 0.25);
}

.car-park__link--active:hover {
  color: $color-default-white;

  cursor: default;
}

.car-park__wrap {
  width: 75%;
  padding-left: 15px;
}

@media  screen and (max-width: 860px) {
  .car-park__wrap {
    width: 100%;
    padding-left: 0;
  }
}

.car-park__list-wrap:not(:first-child) {
  margin-top: 24px;
}

.car-park__list-wrap h3 {
  margin: 0;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 29px;
  color: $color-title;
}

.car-park__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.car-park__card {
  position: relative;
  width: 50%;
  margin-bottom: 24px;
}

@media  screen and (max-width: 680px) {
  .car-park__card {
    width: 100%;
  }
}

.car-park__card:nth-child(2n) {
  padding-left: 4px;
}

@media  screen and (max-width: 860px) {
  .car-park__card:nth-child(2n) {
    padding-left: 15px;
  }
}

@media  screen and (max-width: 680px) {
  .car-park__card:nth-child(2n) {
    padding-left: 0;
  }
}

.car-park__card:nth-child(2n-1) {
  padding-right: 4px;
}

@media  screen and (max-width: 860px) {
  .car-park__card:nth-child(2n-1) {
    padding-right: 15px;
  }
}

@media  screen and (max-width: 680px) {
  .car-park__card:nth-child(2n-1) {
    padding-right: 0;
  }
}

.car-park__card::before {
  content: "";

  position: absolute;

  bottom: 22px;
  right: 27px;

  width: 55px;
  height: 67px;

  background-image: url(../img/svg/vector-13.svg);
  background-repeat: no-repeat;

  z-index: 4;
}

@media  screen and (max-width: 1295px) {
  .car-park__card::before {
    right: 50%;
    bottom: 20px;

    transform: translateX(50%);
  }
}

.car-park__slider {
  position: relative;

  overflow: hidden;
  z-index: 1;
}

.car-park__slider-wrapper {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  z-index: 1;
}

.car-park__slide {
  width: 100%;
  height: 100%;

  flex-shrink: 0;
}

.car-park__slide img {
  width: 100%;
}

.car-park__slider .swiper-button-prev {
  position: absolute;
  width: 32px;
  height: 32px;

  transform: translateY(-50%);

  top: 50%;
  left: 16px;

  background-image: url(../img/svg/prev.svg);
  background-repeat: no-repeat;

  z-index: 10;
  cursor: pointer;
}

.car-park__slider .swiper-button-next {
  position: absolute;
  width: 32px;
  height: 32px;

  transform: translateY(-50%);

  top: 50%;
  right: 16px;

  background-image: url(../img/svg/next.svg);
  background-repeat: no-repeat;

  z-index: 10;
  cursor: pointer;
}

.car-park__slider .swiper-pagination {
  display: flex;

  position: absolute;

  transform: translate(-50%);

   bottom: 12px;
   left: 50%;

   z-index: 10;
}

.car-park__slider .swiper-pagination-bullet {
  width: 40px;
  height: 4px;

  background-color: $color-grey-non-active;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  z-index: 10;
  cursor: pointer;
}

.car-park__slider .swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px;
}

.car-park__slider .swiper-pagination-bullet-active {
  background-color: $color-default-white;
  cursor: default;
}

.car-park__text {
  padding-top: 24px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: $color-grey-background;
}

.car-park__text h4 {
  margin: 0;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 22px;
  color: $color-title;
}

.car-park__text-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media  screen and (max-width: 1295px) {
  .car-park__text-container {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 16px;
  }
}

.car-park__text-wrapper {
  display: flex;
}

.car-park__text-wrapper div:not(:last-child) {
  margin-right: 16px;
}

.car-park__text h5 {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.car-park__text p {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

@media  screen and (max-width: 1295px) {
  .car-park__text-wrap {
    margin-top: 16px;
  }
}

.car-park__text-axis,
.car-park__text-width,
.car-park__text-height {
  display: flex;
}

@media  screen and (max-width: 1295px) {
  .car-park__text-axis,
  .car-park__text-width,
  .car-park__text-height {
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.car-park__text-axis h5,
.car-park__text-width h5,
.car-park__text-height h5 {
  width: 151px;
  margin-bottom: 16px;
}

@media  screen and (max-width: 1295px) {
  .car-park__text-axis h5,
  .car-park__text-width h5,
  .car-park__text-height h5 {
    width: 100%;
    margin-bottom: 4px;
  }
}

.car-park__text-btns {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

@media  screen and (max-width: 1295px) {
  .car-park__text-btns {
    flex-direction: column;
  }
}

.car-park__text-btn {
  margin-right: 24px;
}

@media  screen and (max-width: 1295px) {
  .car-park__text-btn  {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.car-park__text-btn .btn {
  padding-left: 27px;
  padding-right: 27px;
}

.car-park__text-phone {
  position: relative;
  display: flex;
  flex-direction: column;

  z-index: 10;
}

.car-park__text-phone span {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.car-park__text-phone-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $color-title;
}

.car-park__text-phone-link:hover {
  color: $color-general;
}
