.company-scheme {
  background-color: $color-title;
  background-image: url(../img/svg/bg-company-scheme.svg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 800px) {
  .company-scheme {
    background-image: url(../img/svg/bg-company-scheme-2.svg);
  }
}

@media  screen and (max-width: 540px) {
  .company-scheme {
    background-image: url(../img/svg/bg-company-scheme-3.svg);
    background-size: 100% auto;
  }
}

@media  screen and (max-width: 385px) {
  .company-scheme {
    background-size: auto 100%;
  }
}

.company-scheme .container {
  padding-top: 120px;
  padding-bottom: 160px;

  background-image: url(../img/svg/bg-arrow.svg);
  background-position: 0 442px;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 1000px) {
  .company-scheme .container {
    background-position: center 500px;
    background-size: 90%;
  }
}

@media  screen and (max-width: 800px) {
  .company-scheme .container {
    padding-bottom: 80px;

    background-image: none;
  }
}

.company-scheme h2 {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-default-white;
}

.company-scheme__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 800px) {
  .company-scheme__list {
    position: relative;
    flex-direction: column;
    padding-left: 68px;
  }
}

@media  screen and (max-width: 540px) {
  .company-scheme__list {
    padding-left: 51px;
  }
}

@media  screen and (max-width: 800px) {
  .company-scheme__list::before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 55px;
    height: 692px;

    background-image: url(../img/svg/bg-arrow-2.svg);
    background-repeat: no-repeat;
    z-index: 10;
  }
}

@media  screen and (max-width: 540px) {
  .company-scheme__list::before {

    left: -10px;

    height: 770px;

    background-image: url(../img/svg/bg-arrow-3.svg);
  }
}

@media  screen and (max-width: 440px) {
  .company-scheme__list::before {

    top: 20px;

    height: 920px;
  }
}

.company-scheme__list li {
  position: relative;
  max-width: 205px;
}

.company-scheme__list li:nth-child(1) {
  max-width: 225px;
  padding-right: 20px;
}

.company-scheme__list li:nth-child(2) {
  max-width: 245px;
  padding-left: 20px;
  padding-right: 20px;
}

.company-scheme__list li:nth-child(3) {
  max-width: 245px;
  padding-left: 20px;
  padding-right: 20px;
}

.company-scheme__list li:nth-child(4) {
  max-width: 225px;
  padding-left: 20px;
}

@media  screen and (max-width: 800px) {
  .company-scheme__list li:nth-child(1),
  .company-scheme__list li:nth-child(2),
  .company-scheme__list li:nth-child(3),
  .company-scheme__list li:nth-child(4) {
    max-width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
}

.company-scheme__list li::before {
  content: "";

  position: absolute;

  top: 0;
  right: -40px;

  width: 23px;
  height: 43px;

  background-image: url(../img/svg/vector-2.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 1200px) {
  .company-scheme__list li::before {
    right: 0;
  }
}

@media  screen and (max-width: 1000px) {
  .company-scheme__list li::before {
    right: 20px;
  }
}

@media  screen and (max-width: 800px) {
  .company-scheme__list li::before {
    background-image: none;
  }
}

.company-scheme__list span {
  display: flex;
  margin-bottom: 10px;

  font-weight: 900;
  font-size: 64px;
  line-height: 55px;
  leading-trim: both;
  text-edge: cap;
  color: #EFBA00;
}

.company-scheme__list h3 {
  margin: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.company-scheme__list p {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: $color-grey-decor;
}
