.main-category__header h2 {
  margin: 0;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-title;
}

.description__text p {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

@media  screen and (max-width: 540px) {
  .description__text p {
    font-size: 14px;
    line-height: 20px;
  }
}

.description__wrap ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.description__wrap h3 {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: $color-title;
}

.description__wrap p {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: $color-text;
}
