.faq {
  padding-top: 120px;
  padding-bottom: 88px;
}

.faq__header {
  position: relative;
  margin-bottom: 48px;
}

.faq__header::before {
  content: "";

  position: absolute;

  top: -5px;
  left: -30px;

  width: 119px;
  height: 52px;

  background-image: url(../img/svg/rectangle-8.svg);
  background-repeat: no-repeat;
}

.faq__header h2 {
  position: relative;
  margin: 0;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-title;

  z-index: 1;
}

.faq__header h2 span {
  color: $color-general;
}

.faq__accordion {
  max-width: 1020px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  list-style: none;
}

.faq__item {
  position: relative;
  margin-bottom: 32px;
  overflow: hidden;
}

.faq__title {
  position: relative;
  padding-right: 58px;

  background-color: $color-default-white;

  z-index: 10;
}

.faq__item .faq__title::before {
  content: "";

  position: absolute;

  top: 0;
  right: 0;

  width: 42px;
  height: 42px;

  background-image: url(../img/svg/plus.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.faq__item--active .faq__title::before {
  background-image: url(../img/svg/minus.svg);
}

.faq__title h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 22px;
  color: $color-title;

  cursor: pointer;
}

.faq__item--active h3 {
  color: $color-general;
}

.faq__text {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.faq__item--active .faq__text {
  grid-template-rows: 1fr;
}

.faq__text p {
  max-width: 551px;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 14px;
  line-height: 20px;
  color: $color-title;

}

.faq__container {
  overflow: hidden;
}

@media  screen and (max-width: 620px) {
  .faq__text p {
    max-width: 319px;
  }
}


@keyframes show {
  0% {
  height: 0;
  }

100% {
  height: auto;
  }
}
