.features {
  position: relative;

  padding-top: 120px;
  padding-bottom: 120px;
}

.features::before {
  content: "";

  position: absolute;

  right: 180px;
  top: 165px;

  width: 662px;
  height: 45px;

  background-image: url(../img/svg/bg-features.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 1170px) {
  .features::before {
    right: -20px;

    background-size: 70%;
  }
}

@media  screen and (max-width: 950px) {
  .features::before {
    right: -220px;

    background-size: 60%;
  }
}

@media  screen and (max-width: 768px) {
  .features::before {
    right: 65px;
    top: 135px;

    width: 317px;
    height: 53px;

    background-size: 100%;

    background-image: url(../img/svg/bg-features-2.svg);
  }
}

@media  screen and (max-width: 700px) {
  .features::before {
    right: -70px;
    top: 150px;

    background-size: 70%;
  }
}

@media  screen and (max-width: 540px) {
  .features::before {
    left: 20px;
    top: 168px;

    background-size: 100%;
  }
}

@media  screen and (max-width: 478px) {
  .features::before {
    top: 203px;
  }
}

.features h2 {
  max-width: 450px;
  margin: 0;
  margin-bottom: 48px;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;

  color: $color-grey-1;
}

.features h2 span {
  color: $color-general;
}

@media  screen and (max-width: 1000px) {
  .features__slider {
    width: 100%;
  }
}

.features__slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 1000px) {
  .features__slider-wrapper {
    justify-content: initial;
    flex-wrap: nowrap;
  }
}

.features__card {
  position: relative;
  width: 25%;
}

@media  screen and (max-width: 1300px) {
  .features__card {
    width: 33.33333%;
  }
}

@media  screen and (max-width: 1000px) {
  .features__card {
    width: 300px;
    max-width: 300px;
    flex-shrink: 0;
  }
}

@media  screen and (max-width: 768px) {
  .features__card {
    width: 300px;
    max-width: 300px;
    flex-shrink: 0;

    border: 1px solid #DDDFE7;
    background-color: $color-grey-background;
  }
}

.features__card:hover .features__back {
  opacity: 1;
}

.features__front {
  position: relative;
  min-height: 261px;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 15px;
}

@media  screen and (max-width: 768px) {
  .features__front {
    min-height: auto;
    padding-bottom: 30px;
    padding-right: 30px;
  }
}

.features__front img {
  width: 255px;
  height: 136px;
}

.features__title {
  position: absolute;

  bottom: 26px;
}

@media  screen and (max-width: 768px) {
  .features__title {
    position: static;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.features__card h3 {
  margin: 0;
  padding-right: 28px;

  font-size: 16px;
  line-height: 22px;
  color: $color-title;
}

.features__card h3 b {
  position: relative;
}

.features__card h3 b::before {
  content: "";

  position: absolute;

  right: -28px;
  bottom: 6px;

  width: 20px;
  height: 8px;

  background-image: url(../img/svg/arrow.svg);
  background-repeat: no-repeat;
}

.features__back {
  position: absolute;

  top: 0;
  bottom: 0;

  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $color-general;
}

@media  screen and (max-width: 768px) {
  .features__back {
    position: static;

    height: auto;
    width: auto;

    background-color: $color-grey-background;
    opacity: 1;
  }
}

.features__back-wrap {
  position: relative;

  width: 100%;
  height: 100%;

  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
}

@media  screen and (max-width: 768px) {
  .features__back-wrap {
    padding-top: 16px;
    padding-bottom: 30px;
  }
}

.features__back-wrap::before {
  content: "";

  position: absolute;

  right: 0;
  bottom: -79px;

  width: 79px;
  height: 129px;

  background-image: url(../img/svg/vector.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 768px) {
  .features__back-wrap::before {
    background-image: none;
  }
}

.features__card p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  color: $color-default-white;
}

@media  screen and (max-width: 768px) {
  .features__card p {
    position: relative;
    color: $color-text;
  }
}

@media  screen and (max-width: 768px) {
  .features__card p::before {
    content: "";

    position: absolute;

    top: -16px;

    height: 1px;
    width: 100%;

    background-color: $color-grey-decor;
  }
}

.features__card span {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: $color-default-white;
}

.features__back-title {
  position: absolute;

  bottom: 26px;
}

@media  screen and (max-width: 768px) {
  .features__back-title {
    display: none;
  }
}

.features__back-title span {
  display: block;
  padding-right: 28px;
}

.features__back-title span b {
  position: relative;
}

.features__back-title span b::before {
  content: "";

  position: absolute;

  right: -28px;
  bottom: 6px;

  width: 20px;
  height: 8px;

  background-image: url(../img/svg/arrow-light.svg);
  background-repeat: no-repeat;
}
