.footer {

  background-color: $color-title;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer__btn {
  margin-top: 48px;
  margin-bottom: 32px;
}

.footer__link a {
  font-size: 14px;
  line-height: 20px;
  color: $color-default-white;

  opacity: 0.7;
}

.footer__link a:hover {
  color: $color-main;

  opacity: 1;
}

.footer__lists {
  display: flex;
}

.footer__company {
  max-width: 182px;
  margin-right: 30px;
}

.footer__lists h2 {
  margin: 0;
  margin-bottom: 24px;

  font-size: 20px;
  line-height: 24px;
  color: $color-default-white;
}

.footer__company ul,
.footer__services ul {
  margin: 0;
  padding: 0;
  margin-bottom: -16px;

  list-style: none;
}

.footer__company ul li,
.footer__services ul li {
  margin-bottom: 16px;
}

.footer__company a,
.footer__services a {
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  opacity: 0.7;
}

.footer__company a:hover,
.footer__services a:hover {
  color: $color-main;

  opacity: 1;
}

.footer__contacts {
  max-width: 285px;
}

.footer__contacts-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;

}

.footer__phone {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $color-default-white;

  border-bottom: 1px solid transparent;
}

.footer__phone:hover {
  border-bottom: 1px solid $color-main;
}

.footer__email {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $color-default-white;

  opacity: 0.7;
}

.footer__email:hover {
  color: $color-main;

  opacity: 1;
}

.footer__schedule {
  margin-bottom: 24px;
}

.footer__schedule h2,
.footer__address h2 {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.footer__schedule p,
.footer__address p {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__wrap p,
.footer__wrap span,
.footer__wrap a {
  margin: 0;

  font-size: 12px;
  line-height: 17px;
  color: $color-grey-text;
}

.footer__wrap span {
  display: flex;
  justify-content: flex-start;
  width: 285px;
}

.footer__wrap a:hover {
  color: $color-main;
}
