.form-calculator {
  display: flex;
}




.form-calculator__wrapper {
  width: 66.66666%;
  padding-right: 15px;
}

.form-calculator h3 {
  margin: 0;
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 24px;
  color: $color-title;
}

.form-calculator__wrap {

}

.form-calculator__field {
  position: relative;
}

.form-calculator__field input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 16px;
  line-height: 22px;
  color: $color-title;

  border: none;
  border-bottom: 1px solid $color-grey-decor;
}


.form-calculator__field input:focus {
  outline: none;
  border-bottom: 1px solid $color-title;
}

.form-calculator__field--error input {
  outline: none;
  border-bottom: 1px solid $color-general;
}

.form-calculator__fields-btn {
  position: relative;
  margin-bottom: 32px;
  padding-right: 68px;
}

.form-calculator__field-sending {
  margin-bottom: 24px;
}

.form-calculator__btn-map {
  position: absolute;
  padding: 0;

  top: 50%;
  right: 7px;

  transform: translateY(-50%);

  width: 42px;
  height: 42px;

  background-color: transparent;
  background-image: url(../img/svg/vector-16.svg);
  background-repeat: no-repeat;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.form-calculator__btn-map:hover {
  background-image: url(../img/svg/vector-17.svg);
}

.form-calculator__btn-city {
  position: absolute;
  padding: 0;

  top: 50%;
  right: 62px;

  transform: translateY(-50%);

  width: 42px;
  height: 42px;

  background-color: transparent;
  background-image: url(../img/svg/vector-18.svg);
  background-repeat: no-repeat;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.form-calculator__btn-city:hover {
  background-image: url(../img/svg/vector-19.svg);
}

.form-calculator__field-sending input {
  padding-right: 116px;
}

.form-calculator__btn-reverse {
  position: absolute;

  top: 50%;
  right: 0;

  transform: translatey(-50%);

  width: 52px;
  height: 52px;

  display: block;
  padding: 0;

  border: none;
  box-shadow: none;
  cursor: pointer;

  background-color: $color-default-white;

  background-image: url(../img/svg/vector-14.svg);
  background-repeat: no-repeat;
}

.form-calculator__btn-reverse:hover {
  background-image: url(../img/svg/vector-20.svg);
}




.form-calculator__fields-date {
  display: flex;
  margin-bottom: 40px;
}

.form-calculator__fields-date .form-calculator__field {
  width: 285px;
  max-width: 285px;
}

.form-calculator__field-sending-date {
  position: relative;
  margin-right: 30px;
}

.form-calculator__field-receiving-date {
  position: relative;
}

.form-calculator__fields-date .form-calculator__field input {
  padding-right: 62px;
}

.form-calculator__btn-calendar {
  position: absolute;
  padding: 0;

  top: 50%;
  right: 7px;

  transform: translateY(-50%);

  width: 42px;
  height: 42px;

  background-color: transparent;
  background-image: url(../img/svg/vector-21.svg);
  background-repeat: no-repeat;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.form-calculator__btn-calendar:hover {
  background-image: url(../img/svg/vector-22.svg);
}

.form-calculator__field-receiving-date--active .form-calculator__btn-calendar {
  background-image: url(../img/svg/vector-22.svg);
}










.form-calculator__cargo {
  margin-bottom: 40px;
}

.form-calculator__cargo-wrap {
  display: flex;
}

.form-calculator__cargo-wrap div:not(:last-child) {
  margin-right: 20px;
}





.form-calculator__checkbox-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 746px;
}

.form-calculator__check-wrapper {
  max-width: 330px;
}

.form-calculator__field-check {
  position: relative;
  margin-bottom: 24px;
}


.form-calculator__field-check input {
  display: inline-block;
  padding: 0;
  width: auto;
}


.form-calculator__checkbox + label::before {
  content: "";
  position: absolute;

  left: 0;
  top: 50%;

  transform: translateY(-50%);

  width: 42px;
  height: 42px;

  background-image: url("../img/svg/vector-23.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-calculator__checkbox:checked + label::after {
  content: "";
  position: absolute;

  left: 0;
  top: 50%;

  transform: translateY(-50%);

  width: 42px;
  height: 42px;

  background-image: url(../img/svg/vector-24.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}


.form-calculator__field-check label {
  position: relative;
  display: block;
  padding-left: 58px;

  font-size: 16px;
  line-height: 22px;
  color: $color-title;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

}


.form-calculator__question {
  position: absolute;

  top: 50%;
  right: 0;

  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/vector-25.svg);
  background-repeat: no-repeat;
  z-index: 10;
  cursor: pointer;
}

.form-calculator__tooltip {
  display: none;
  position: absolute;
  width: 250px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;

  top: -130%;
  left: 240%;

  transform: translateX(-130%);

  transform: translateX(-240%);

  font-size: 14px;
  line-height: 20px;
  color: $color-text;

  background-color: $color-default-white;
  border: 1px solid $color-grey-background;
  box-shadow: 0px 27px 30px -16px rgba(0, 0, 0, 0.1);

  z-index: 10;
}

.form-calculator__tooltip-wrap:hover .form-calculator__tooltip {
  display: block;
}

.form-calculator__wrap {
  width: 33.33333%;
  padding-left: 15px;
}

.form-calculator__bg {
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

  background-color: $color-grey-background;
}

.form-calculator__list,
.form-calculator__list-2,
.form-calculator__list dd,
.form-calculator__list-2 dd {
  margin: 0;
}

.form-calculator__list {
  position: relative;
  padding-bottom: 24px;
}

.form-calculator__list::before {
  content: "";

  position: absolute;

  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: $color-grey-decor;
}

.form-calculator__list div:not(:last-child) {
  margin-bottom: 16px;
}

.form-calculator__list dt {
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.form-calculator__list dd {
  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.form-calculator__wrap h4 {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.form-calculator__services {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
}

.form-calculator__services::before {
  content: "";

  position: absolute;

  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: $color-grey-decor;
}

.form-calculator__list-2 div {
  display: flex;
  justify-content: space-between;
}

.form-calculator__list-2 div:not(:last-child) {
  margin-bottom: 8px;
}

.form-calculator__list-2 dt {
  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.form-calculator__list-2 dd {
  margin-left: 25px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: $color-text;
}

.form-calculator__sum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 24px;
}

.form-calculator__price {
  position: relative;
  display: flex;
  margin-bottom: 24px;
}

.form-calculator__price p {
  position: relative;

  padding-left: 28px;
  margin: 0;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-text;
}

.form-calculator__price p::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 0;

  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/vector-15.svg);
  background-repeat: no-repeat;
}

.form-calculator__price .form-calculator__question {
  right: -32px;
  background-image: url(../img/svg/vector-26.svg);
}

.form-calculator__btn {
  width: 100%;
}
