.header {
  display: flex;
  align-items: center;
  height: 149px;
  padding: 0 40px;

  background-color: $color-title;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__toggle {
  display: none;
}
