.header {
  background-color: $color-title;
}


.header .container {
  padding-top: 30px;
  padding-bottom: 16px;
}

.header__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.header__top::before {
  content: "";

  position: absolute;

  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: #D9D9D9;
}

.header__toggle {
  display: none;
}




.header__logo {
  position: relative;
  width: 126px;
  height: 44px;
}

.header__logo::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 126px;
  height: 44px;

  background-image: url(../img/svg/logo-dark.svg);
  background-repeat: no-repeat;
}



.header__list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: -24px;
  margin-left: 22px;

  list-style: none;
}

@media  screen and (max-width: 1270px) {
  .header__list {
    flex-wrap: wrap;
    align-items: center;
  }
}

@media  screen and (max-width: 1200px) {
  .header__list-top {
    max-width: 430px;
  }
}

.header__item {
  position: relative;
}

.header__item:hover .header__link {

  color: $color-main;
}

.header__item:hover .header__link::before {
  content: "";

  position: absolute;

  left: 0;
  bottom: -3px;

  height: 1px;
  width: 50px;

  background-color: $color-default-white;
}


.header__item:hover .header__sub-list-wrap {
  display: block;
}




.header__link {
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 22px;
  margin-right: 24px;


  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $color-grey-decor;
}



.header__link::after {
  content: "";

  position: absolute;

  top: 7px;
  right: 7px;

  width: 8px;
  height: 5px;

  background-image: url(../img/svg/vector-3.svg);
  background-repeat: no-repeat;
}

.header__sub-list-wrap {
  display: none;
  position: absolute;
  padding-top: 18px;

  z-index: 1000;
}

.header__sub-list {
  position: relative;
  min-width: 459px;
  margin: 0;
  margin-bottom: -16px;
  padding: 0;
  padding-top: 15px;
  padding-left: 17px;
  padding-right: 17px;

  list-style: none;
  background-color: $color-default-white;
  border: 1px solid #F5F6FA;
  box-shadow: 0px 27px 30px -16px rgba(0, 0, 0, 0.1);
}

.header__sub-list::before {
  content: "";

  position: absolute;

  top: -20px;
  left: -12px;

  width: 76px;
  height: 92px;

  background-image: url(../img/svg/vector-5.svg);
  background-repeat: no-repeat;
  z-index: 1001;
}

.header__sub-item {
  margin-bottom: 16px;
}

.header__sub-link {
  font-size: 16px;
  line-height: 22px;
  color: #313438;

  opacity: 0.7;
}

.header__sub-link:hover {
  opacity: 1;
}







.header__btn .btn {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 17px;
  padding-right: 17px;
}

.header__chat {
  display: flex;
}

.header__whatsapp,
.header__telegram {
  display: flex;
}

.header__whatsapp {
  margin-right: 12px;
}

.header__whatsapp a,
.header__telegram a {
  position: relative;
  width: 40px;
  height: 40px;

  background-color: $color-text;
  border-radius: 50%;
}

.header__whatsapp a::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/whatsapp-dark.svg);
  background-repeat: no-repeat;
}

.header__whatsapp a:hover::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/whatsapp-dark-hover.svg);
  background-repeat: no-repeat;
}

.header__telegram a::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/telegram-dark.svg);
  background-repeat: no-repeat;
}

.header__telegram a:hover::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/telegram-dark-hover.svg);
  background-repeat: no-repeat;
}


.header__schedule p {
  position: relative;
  margin: 0;
  padding-left: 14px;

  font-size: 14px;
  line-height: 20px;
  color: $color-grey-decor;
}

.header__schedule p::before {
  content: "";

  position: absolute;

  top: 6px;
  left: 0;

  width: 6px;
  height: 6px;

  background-color: #6A9E15;
  border-radius: 50%;
}

.header__phone-link {

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $color-grey-background;
}

.header__phone-link:hover {
  color: $color-main;
}

.header__bottom {
  padding-top: 16px;
  padding-bottom: 16px;
}
