.industry-solutions {
  padding-bottom: 90px;
}

@media  screen and (max-width: 768px) {
  .industry-solutions {
    padding-bottom: 104px;
  }
}

.industry-solutions__header {
  position: relative;
}

.industry-solutions__header::before {
  content: "";

  position: absolute;

  top: 0;
  left: -55px;

  width: 205px;
  height: 52px;

  background-image: url(../img/svg/rectangle.svg);
  background-repeat: no-repeat;
}

.industry-solutions h2 {
  position: relative;
  margin: 0;
  margin-bottom: 48px;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-title;

  z-index: 5;
}

.industry-solutions__row {
  display: flex;
  flex-wrap: wrap;
}

@media  screen and (max-width: 650px) {
  .industry-solutions__row {
    display: block;
  }
}

.industry-solutions__column {
  max-width: 50%;
  padding: 0 15px;
}

@media  screen and (max-width: 768px) {
  .industry-solutions__column {
    padding: 0 4px;
  }
}

@media  screen and (max-width: 650px) {
  .industry-solutions__column {
    max-width: 100%;
  }
}

@media  screen and (max-width: 650px) {
  .industry-solutions__accordion-1 {
    margin-bottom: 24px;
  }
}

.industry-solutions__item {
  position: relative;
  margin-bottom: 30px;
}

@media  screen and (max-width: 768px) {
  .industry-solutions__item {
    margin-bottom: 16px;
  }
}

@media  screen and (max-width: 650px) {
  .industry-solutions__item {
    margin-bottom: 24px;
  }
}

.industry-solutions__item:hover .industry-solutions__back {
  opacity: 0.9;
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__item:hover .industry-solutions__back {
    opacity: 1;
  }
}

.industry-solutions__item img {
  vertical-align: middle;
  width: 100%;
}

.industry-solutions__title {
  position: absolute;

  bottom: 15px;
  left: 0;
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__title {
    position: static;

    cursor: pointer;
  }
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__front {
    position: relative;

    z-index: 3;
  }
}

.industry-solutions__front h3 {
  position: relative;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 24px;

  font-size: 20px;
  line-height: 24px;
  color: $color-default-white;

  background-color: $color-title;
  z-index: 10;
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__front h3 {
    padding-right: 55px;
  }
}

@media  screen and (max-width: 768px) {
  .industry-solutions__front h3 {
    padding-left: 24px;
    padding-right: 55px;
  }
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__front h3::before {
    content: "";

    position: absolute;

    top: calc(50% - 12px);

    right: 15px;

    width: 24px;
    height: 24px;

    background-image: url(../img/svg/arrow-bottom.svg);
    background-repeat: no-repeat;
  }
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__item--active .industry-solutions__front h3::before {

    background-image: url(../img/svg/arrow-top.svg);
  }
}

.industry-solutions__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $color-title;
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__back {
    position: absolute;


    display: none;
    top: 0;

    background-color: $color-grey-background;
    opacity: 1;

    z-index: 1;
  }
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__item--active .industry-solutions__back {
    position: relative;
    display: block;

    background-color: $color-grey-background;
    opacity: 1;
    visibility: visible;

    animation: show 0.6s;
  }
}





.industry-solutions__lists-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__lists-wrap {
    display: block;
  }
}

@media  screen and (max-width: 768px) {
  .industry-solutions__lists-wrap {
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.industry-solutions__list-1,
.industry-solutions__list-2 {
  width: 100%;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;

  list-style: none;
  opacity: 0.8;
}

.industry-solutions__list-1 {
  max-width: 230px;
  margin-right: 16px;
  padding-left: 16px;
}

.industry-solutions__list-2 {
  max-width: 250px;
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__list-1,
  .industry-solutions__list-2 {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

.industry-solutions__back ul li {
  margin-bottom: 16px;
}

.industry-solutions__back ul li a {
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  opacity: 0.8;
}

@media  screen and (max-width: 1160px) {
  .industry-solutions__back ul li a {
    color: $color-title;
  }
}

.industry-solutions__back ul li a:hover {
  opacity: 1;
}




@keyframes show {
  0% {
  top: -200px;
  }


100% {
  top: 0;
  }
}
