.main-portfolio {
  padding-top: 180px;
  padding-bottom: 120px;
}

@media  screen and (max-width: 1283px) {
  .main-portfolio {
    padding-top: 206px;
  }
}

@media  screen and (max-width: 1217px) {
  .main-portfolio {
    padding-top: 230px;
  }
}

@media  screen and (max-width: 1200px) {
  .main-portfolio {
    padding-top: 210px;
  }
}

@media  screen and (max-width: 1100px) {
  .main-portfolio {
    padding-top: 144px;
  }
}

@media  screen and (max-width: 630px) {
  .main-portfolio {
    padding-top: 96px;
  }
}

@media  screen and (max-width: 600px) {
  .main-portfolio {
    padding-top: 92px;
  }
}

.main-portfolio__header h1 {
  margin: 0;

  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color-title;
}

@media  screen and (max-width: 540px) {
  .main-portfolio__header h1 {
    font-size: 30px;
    line-height: 33px;
  }
}


.main-portfolio__header h2 {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 20px;
  line-height: 24px;
  color: $color-title;

  background-color: $color-grey-background;
}

@media  screen and (max-width: 768px) {
  .main-portfolio__header h2 {
    padding-right: 111px;

    color: $color-text;
  }
}

.main-portfolio__description {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.main-portfolio__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-portfolio__slider1-wrapper,
.main-portfolio__slider2-wrapper {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-portfolio__title h3 {
  margin: 0;

  font-size: 12px;
  line-height: 17px;
  color: $color-grey-text;
}

.main-portfolio__title p {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $color-text;
}

.main-portfolio__wrap-list dt {
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.main-portfolio__wrap-list dd {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $color-title;
}

.main-portfolio__text h3 {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.main-portfolio__text p {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}
