.main-contacts {
  padding-top: 180px;
  padding-bottom: 120px;
}


.main-contacts__form-title {
  display: none;
}

.main-contacts__form-p {
  display: none;
}

.main-contacts__form-btn {
  display: none;
}
