.main-portfolio {
  padding-top: 180px;
  padding-bottom: 120px;
}

@media  screen and (max-width: 1283px) {
  .main-portfolio {
    padding-top: 206px;
  }
}

@media  screen and (max-width: 1217px) {
  .main-portfolio {
    padding-top: 230px;
  }
}

@media  screen and (max-width: 1200px) {
  .main-portfolio {
    padding-top: 210px;
  }
}

@media  screen and (max-width: 1100px) {
  .main-portfolio {
    padding-top: 144px;
  }
}

@media  screen and (max-width: 630px) {
  .main-portfolio {
    padding-top: 96px;
  }
}

@media  screen and (max-width: 600px) {
  .main-portfolio {
    padding-top: 92px;
  }
}

.main-portfolio__header {
  margin-top: 24px;
  margin-bottom: 40px;
}

.main-portfolio__header h1 {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color-title;
}

@media  screen and (max-width: 540px) {
  .main-portfolio__header h1 {
    font-size: 30px;
    line-height: 33px;
  }
}

.main-portfolio__header h2 {
  max-width: 155px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 20px;
  line-height: 24px;
  color: $color-title;

  background-color: $color-grey-background;
}

@media  screen and (max-width: 768px) {
  .main-portfolio__header h2 {
    max-width: 254px;
    padding-right: 111px;

    color: $color-text;
  }
}

.main-portfolio__description {
  margin: 0;
  margin-bottom: 60px;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.main-portfolio__list {
  margin: 0;
  padding: 0;
  margin-bottom: -24px;

  list-style: none;
}

@media  screen and (max-width: 870px) {
  .main-portfolio__list {
    margin-bottom: -54px;
  }
}

.main-portfolio__item {
  display: flex;
  margin-bottom: 24px;
}

@media  screen and (max-width: 1200px) {
  .main-portfolio__item:nth-child(2) {
   display: none;
  }
}

@media  screen and (max-width: 870px) {
  .main-portfolio__item {
    flex-direction: column;
    margin-bottom: 54px;
  }
}

.main-portfolio__wrapper {
  width: 50%;
  padding-right: 20px;
}

@media  screen and (max-width: 870px) {
  .main-portfolio__wrapper {
    width: 100%;
    padding-right: 0;
  }
}

.main-portfolio__wrapper img {
  width: 100%;
}

.main-portfolio__slider1-container,
.main-portfolio__slider2-container {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main-portfolio__slider1-wrapper,
.main-portfolio__slider2-wrapper {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  z-index: 1;
}

.main-portfolio__wrapper .swiper {
  position: relative;
}

.main-portfolio__wrapper .swiper-wrapper {
  position: relative;

  background-color: $color-grey-background;
}

.main-portfolio__slider1-card,
.main-portfolio__slider2-card {
  width: 100%;
  height: 100%;

  flex-shrink: 0;
}

.main-portfolio__slider1-card img,
.main-portfolio__slider2-card img {
  width: 100%;
}

.main-portfolio__wrapper .swiper-button-prev {
  position: absolute;
  width: 32px;
  height: 32px;

  transform: translateY(-50%);

  top: 50%;
  left: 16px;

  background-image: url(../img/svg/prev.svg);
  background-repeat: no-repeat;

  z-index: 10;
  cursor: pointer;
}

.main-portfolio__wrapper .swiper-button-next {
  position: absolute;
  width: 32px;
  height: 32px;

  transform: translateY(-50%);

  top: 50%;
  right: 16px;

  background-image: url(../img/svg/next.svg);
  background-repeat: no-repeat;

  z-index: 10;
  cursor: pointer;
}

.main-portfolio__wrapper .swiper-pagination {
  display: flex;

  position: absolute;

  transform: translate(-50%);

   bottom: 24px;
   left: 50%;

   z-index: 10;
}

.main-portfolio__wrapper .swiper-pagination-bullet {
  width: 50px;
  height: 4px;

  background-color: $color-grey-non-active;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  z-index: 10;
  cursor: pointer;
}

.main-portfolio__wrapper .swiper-pagination-bullet:not(:last-child) {
  margin-right: 16px;
}

.main-portfolio__wrapper .swiper-pagination-bullet-active {
  background-color: $color-default-white;
  cursor: default;
}

.main-portfolio__wrap {
  width: 50%;
  padding-top: 21px;
  padding-left: 20px;
  padding-right: 30px;
}

@media  screen and (max-width: 870px) {
  .main-portfolio__wrap {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-portfolio__title  {
  margin-bottom: 32px;
}

.main-portfolio__title h3 {
  margin: 0;
  margin-bottom: 9px;

  font-size: 12px;
  line-height: 17px;
  color: $color-grey-text;
}

.main-portfolio__title p {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $color-text;
}

.main-portfolio__wrap-list {
  display: flex;
  margin: 0;
  margin-right: -24px;
  margin-bottom: 32px;
}

@media  screen and (max-width: 540px) {
  .main-portfolio__wrap-list {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.main-portfolio__wrap-list div {
  margin-right: 24px;
}

@media  screen and (max-width: 540px) {
  .main-portfolio__wrap-list div {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.main-portfolio__wrap-list dt {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.main-portfolio__wrap-list dd {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $color-title;
}

.main-portfolio__text h3 {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.main-portfolio__text p {
  margin: 0;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.main-portfolio__btn {
  margin-top: 32px;
}

@media  screen and (max-width: 870px) {
  .main-portfolio__btn {
    max-width: 340px;
  }
}

@media  screen and (max-width: 400px) {
  .main-portfolio__btn {
    max-width: none;
  }
}
