.main-contacts {
  padding-top: 180px;
  padding-bottom: 120px;
}

@media  screen and (max-width: 1283px) {
  .main-contacts {
    padding-top: 206px;
  }
}

@media  screen and (max-width: 1217px) {
  .main-contacts {
    padding-top: 230px;
  }
}

@media  screen and (max-width: 1200px) {
  .main-contacts {
    padding-top: 210px;
  }
}

@media  screen and (max-width: 1100px) {
  .main-contacts {
    padding-top: 144px;
  }
}

@media  screen and (max-width: 630px) {
  .main-contacts {
    padding-top: 96px;
  }
}

@media  screen and (max-width: 600px) {
  .main-contacts {
    padding-top: 92px;
  }
}

.main-contacts__header {
  margin-top: 24px;
  margin-bottom: 40px;
}

@media  screen and (max-width: 1000px) {
  .main-contacts__header {
    margin-bottom: 48px;
  }
}

.main-contacts__header h1 {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color-title;
}

@media  screen and (max-width: 620px) {
  .main-contacts__header h1 {
    font-size: 30px;
    line-height: 33px;
  }
}

.main-contacts__header h2 {
  max-width: 155px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 20px;
  line-height: 24px;
  color: $color-title;

  background-color: $color-grey-background;
}

@media  screen and (max-width: 768px) {
  .main-contacts__header h2 {
    color: $color-text;
  }
}

.main-contacts__wrapper {
  display: flex;
}

@media  screen and (max-width: 1000px) {
  .main-contacts__wrapper {
    flex-direction: column;
  }
}

.main-contacts__wrap {
  width: 33.33333%;
  padding-right: 20px;
}

@media  screen and (max-width: 1000px) {
  .main-contacts__wrap {
    width: 100%;
    padding-right: 0;
  }
}

.main-contacts__contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

@media  screen and (max-width: 1205px) {
  .main-contacts__contacts {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media  screen and (max-width: 1000px) {
  .main-contacts__contacts {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__contacts {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.main-contacts__phone {
  max-width: 167px;
  margin-right: 40px;
  margin-bottom: 30px;
}

@media  screen and (max-width: 1205px) {
  .main-contacts__phone {
    margin-right: 0;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__phone {
    margin-right: 41px;
    margin-bottom: 24px;
  }
}

.main-contacts__email {
  margin-bottom: 30px;
}

@media  screen and (max-width: 490px) {
  .main-contacts__email {
    margin-bottom: 24px;
  }
}

.main-contacts__chats {
  margin-bottom: 30px;
}

@media  screen and (max-width: 490px) {
  .main-contacts__chats {
    width: 100%;
  }
}

.main-contacts__phone h3,
.main-contacts__email h3,
.main-contacts__chats h3 {
  margin: 0;
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 22px;
  color: $color-grey-non-active;
}

@media  screen and (max-width: 1000px) {
  .main-contacts__chats h3 {
    margin-bottom: 8px;
  }
}

@media  screen and (max-width: 620px) {
  .main-contacts__phone h3,
  .main-contacts__email h3,
  .main-contacts__chats h3 {
    font-size: 14px;
    line-height: 20px;
  }
}

.main-contacts__contacts a,
.main-contacts__email a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $color-title;
}

@media  screen and (max-width: 620px) {
  .main-contacts__contacts a,
  .main-contacts__email a {
    font-size: 16px;
    line-height: 22px;
  }
}

.main-contacts__chats-wrap {
  display: flex;
}

.main-contacts__whatsapp {
  display: flex;
  margin-right: 12px;
}

.main-contacts__telegram {
  display: flex;
}

.main-contacts__whatsapp a,
.main-contacts__telegram a {
  position: relative;
  width: 40px;
  height: 40px;

  background-color: $color-grey-background;
  border-radius: 50%;
}

.main-contacts__whatsapp a::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/whatsapp-light.svg);
  background-repeat: no-repeat;
}

.main-contacts__whatsapp a:hover::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/whatsapp-light-hover.svg);
  background-repeat: no-repeat;
}

.main-contacts__telegram a::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/telegram-light.svg);
  background-repeat: no-repeat;
}

.main-contacts__telegram a:hover::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  background-image: url(../img/svg/telegram-light-hover.svg);
  background-repeat: no-repeat;
}

.main-contacts__contacts a:hover,
.main-contacts__email a:hover {
  color: $color-general;
}

.main-contacts__phone p,
.main-contacts__email p,
.main-contacts__chats p {
  margin: 0;
  margin-top: 9px;

  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.main-contacts__chats p {
  margin-top: 4px;
}

@media  screen and (max-width: 1000px) {
  .main-contacts__chats p {
    margin-top: 3px;
  }
}

@media  screen and (max-width: 620px) {
  .main-contacts__phone p,
  .main-contacts__email p,
  .main-contacts__chats p {
    font-size: 12px;
    line-height: 17px;
  }
}

.main-contacts__form h2 {
  color: $color-general;
}

.main-contacts__form-title {
  display: none;
}

.main-contacts__form-p {
  display: none;
}

.main-contacts__form-btn {
  display: none;
}

@media  screen and (max-width: 1000px) {
  .main-contacts__wrap .main-contacts__form {
    display: none;
  }
}

.main-contacts__map-wrap {
  width: 66.66666%;
  padding-left: 20px;
}

@media  screen and (max-width: 1000px) {
  .main-contacts__map-wrap {
    width: 100%;
    padding-left: 0;
  }
}

.main-contacts__address-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 88px;
  padding-right: 30px;

  background-color: $color-grey-background;
  z-index: 1;
}

@media  screen and (max-width: 700px) {
  .main-contacts__address-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.main-contacts__address-wrap::before {
  content: "";

  position: absolute;

  top: 20px;
  left: 20px;

  width: 52px;
  height: 52px;

  background-image: url(../img/svg/vector-12.svg);
  background-repeat: no-repeat;

  z-index: 2;
}

.main-contacts__address {
  max-width: 485px;
  margin-right: 16px;
}

@media  screen and (max-width: 700px) {
  .main-contacts__address {
    margin-bottom: 16px;
  }
}

.main-contacts__address h3 {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text
}

.main-contacts__address p {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $color-title;
}

.main-contacts__map {
  width: 100%;
  height: 741px;
}

@media  screen and (max-width: 1000px) {
  .main-contacts__map {
    height: 600px;
    margin-bottom: 40px;
  }
}

@media  screen and (max-width: 768px) {
  .main-contacts__map {
    height: 523px;
  }
}

@media  screen and (max-width: 640px) {
  .main-contacts__map {
    height: 467px;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map {
    height: 259px;
  }
}

.main-contacts__map-wrap .main-contacts__form {
  display: none;
}

@media  screen and (max-width: 768px) {
  .main-contacts__map-wrap h2 {
    color: $color-title;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map-wrap h2 {
    display: none;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map-wrap .main-contacts__form-title {
    display: block;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map-wrap p {
    display: none;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map-wrap .main-contacts__form-p {
    display: block;
  }
}

@media  screen and (max-width: 1000px) {
  .main-contacts__map-wrap .main-contacts__form {
    display: block;
  }
}

@media  screen and (max-width: 768px) {
  .main-contacts__map-wrap .main-contacts__form .form--light {
    padding-bottom: 24px;
  }
}

@media  screen and (max-width: 1000px) {
  .main-contacts__map-wrap .form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map-wrap .form__wrapper {
    display: block;
    grid-column-gap: 0;
  }
}

@media  screen and (max-width: 1000px) {
  .main-contacts__map-wrap .form__btn {
    margin-top: 8px;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map-wrap .form__btn {
    display: none;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map-wrap .main-contacts__form-btn {
    display: block;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map-wrap .form__field-check {
    margin-bottom: 0;
  }
}

@media  screen and (max-width: 1000px) {
  .main-contacts__map-wrap .form__field-check label {
    max-width: 100%;
    margin-top: 8px;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__map-wrap .form__field-check label {
    margin-top: 16px;
  }
}

@media  screen and (max-width: 490px) {
  .main-contacts__address p {
    display: block;
  }
}
