.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  //background-color: rgba($color-default-black, 0.6);
  background-color: rgba(35, 38, 45, 0.6);
  backdrop-filter: blur(12.5px);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity $modal-transition-settings,
    transform $modal-transition-settings,
    visibility $modal-transition-settings;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 600px;
    //padding: 40px;

    background-color: $color-default-white;

  }

  &__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    display: none;
  }

  &--active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}




.modal--call .modal__content {
  max-width: 390px;

  background-color: $color-grey-background;
}

@media  screen and (max-width: 768px) {
  .modal--call .modal__content {
    max-width: 678px;
  }
}

.modal__wrap .form__field-check {
  margin-bottom: 0;
}

@media  screen and (max-width: 768px) {
  .modal__wrap .form__field-check {
    margin-bottom: 24px;
  }
}


.modal--success .modal__wrapper,
.modal--error .modal__wrapper {
  padding-left: 45px;
  padding-right: 45px;
}

@media  screen and (max-width: 540px) {
  .modal--success .modal__wrapper,
  .modal--error .modal__wrapper {
    padding: 0 20px;
  }
}


.modal--success .modal__content,
.modal--error .modal__content {
  width: 100%;
  max-width: 390px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: $color-grey-background;
}

@media  screen and (max-width: 768px) {
  .modal--success .modal__content,
  .modal--error .modal__content {
    max-width: 358px;
    padding-top: 53px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}


.modal--success h2,
.modal--error h2 {
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #6A9E15;
}

.modal--error h2 {
  color: $color-general;
}

.modal--success p,
.modal--error p {
  margin: 0;
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $color-text;
}

.modal--success .modal__close-btn,
.modal--error .modal__close-btn {
  position: static;
  display: none;
}

.modal--success .btn.modal__close-btn,
.modal--error .btn.modal__close-btn {
  display: block;
}
