.oversized-cargo {
  padding-top: 120px;
  padding-bottom: 96px;

  background-color: $color-title;
}

.oversized-cargo .container {
  display: flex;
  align-items: flex-start;
}

@media  screen and (max-width: 920px) {
  .oversized-cargo .container {
    display: block;
  }
}

.oversized-cargo__text {
  max-width: 420px;
  padding-right: 30px;
}

@media  screen and (max-width: 1175px) {
  .oversized-cargo__text {
    max-width: 320px;
  }
}

@media  screen and (max-width: 1040px) {
  .oversized-cargo__text {
    max-width: 220px;
    padding-right: 20px;
  }
}

@media  screen and (max-width: 920px) {
  .oversized-cargo__text {
    max-width: 100%;
    padding-right: 0;
  }
}

.oversized-cargo h2 {
  max-width: 390px;
  margin: 0;
  margin-bottom: 48px;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-default-white;
}

@media  screen and (max-width: 920px) {
  .oversized-cargo h2 {
    position: relative;
    max-width: 100%;
    margin-bottom: 0;
    padding-bottom: 354px;

    background-image: url(../img/svg/truck.svg);
    background-size: 105%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

@media  screen and (max-width: 840px) {
  .oversized-cargo h2 {
    padding-bottom: 314px;
  }
}

@media  screen and (max-width: 700px) {
  .oversized-cargo h2 {
    padding-bottom: 250px;
  }
}

@media  screen and (max-width: 600px) {
  .oversized-cargo h2 {
    padding-bottom: 200px;
  }
}

@media  screen and (max-width: 450px) {
  .oversized-cargo h2 {
    padding-bottom: 170px;

    background-position: 0 90px;
  }
}

.oversized-cargo__text p {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 400;
  line-height: 22px;
  color: $color-grey-decor;
}

.oversized-cargo__text p:nth-child(3n) {
  margin-bottom: 16px;

  font-weight: 700;
}

.oversized-cargo__list {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  line-height: 22px;
  color: $color-grey-decor;

  list-style: none;
}

.oversized-cargo__list li {
  position: relative;
  padding-left: 28px;

  font-size: 16px;
  line-height: 22px;

  color: $color-grey-decor;
}

.oversized-cargo__list li::before {
  content: "";

  position: absolute;

  top: 6px;
  left: 9px;

  width: 6px;
  height: 6px;

  background-color: $color-main;
}

.oversized-cargo__list-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 320px;

  list-style: none;
}

@media  screen and (max-width: 920px) {
  .oversized-cargo__list-items {
    padding-top: 0;
  }
}

@media  screen and (max-width: 700px) {
  .oversized-cargo__list-items {
    margin-top: 40px;
  }
}

.oversized-cargo__list-items::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 810px;
  height: 290px;

  background-image: url(../img/svg/truck.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 920px) {
  .oversized-cargo__list-items::before {
    background-image: none;
  }
}

.oversized-cargo__list-items li {
  width: 50%;
}

@media  screen and (max-width: 700px) {
  .oversized-cargo__list-items li {
    width: 100%;
    margin-bottom: 20px;
  }
}

.oversized-cargo__list-items li:nth-child(2n+1),
.oversized-cargo__list-items li:nth-child(2n+2) {
  padding-top: 10px;
}

@media  screen and (max-width: 700px) {
  .oversized-cargo__list-items li:nth-child(2n+1),
  .oversized-cargo__list-items li:nth-child(2n+2) {
    padding-top: 0;
  }
}

.oversized-cargo__list-items li:nth-child(4n+1),
.oversized-cargo__list-items li:nth-child(4n+2) {
  padding-bottom: 10px;
}

@media  screen and (max-width: 700px) {
  .oversized-cargo__list-items li:nth-child(4n+1),
  .oversized-cargo__list-items li:nth-child(4n+2) {
    padding-bottom: 0;
  }
}

.oversized-cargo__list-items li:nth-child(2n+1) {
  padding-right: 10px;
}

@media  screen and (max-width: 700px) {
  .oversized-cargo__list-items li:nth-child(2n+1) {
    padding-right: 0;
  }
}

.oversized-cargo__list-items li:nth-child(2n),
.oversized-cargo__list-items li:nth-child(4n) {
  padding-left: 10px;
}

@media  screen and (max-width: 700px) {
  .oversized-cargo__list-items li:nth-child(2n),
  .oversized-cargo__list-items li:nth-child(4n) {
    padding-left: 0;
  }
}

.oversized-cargo__list-items li:nth-child(3n+1) div {
  background-color: #23262D;
}

@media  screen and (max-width: 700px) {
  .oversized-cargo__list-items li:nth-child(4n) div,
  .oversized-cargo__list-items li:nth-child(4n-1) div,
  .oversized-cargo__list-items li:nth-child(4n-2) div,
  .oversized-cargo__list-items li:nth-child(4n-3) div {
    background-color: #23262D;
  }
}

.oversized-cargo__list-items li div {
  position: relative;

  padding-top: 134px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.oversized-cargo__list-items li div::before {
  content: "";

  position: absolute;

  top: 30px;
  left: 20px;

  width: 90px;
  height: 97px;

  background-repeat: no-repeat;
}

.oversized-cargo__list-items li:nth-child(4n) div::before {
  background-image: url(../img/svg/oversized-cargo-4.svg);
}

.oversized-cargo__list-items li:nth-child(4n-1) div::before {
  background-image: url(../img/svg/oversized-cargo-3.svg);
}

@media  screen and (max-width: 700px) {
  .oversized-cargo__list-items li:nth-child(4n-1) div::before {
    background-image: url(../img/svg/oversized-cargo-3-2.svg);
  }
}


.oversized-cargo__list-items li:nth-child(4n-2) div::before {
  background-image: url(../img/svg/oversized-cargo-2.svg);
}

@media  screen and (max-width: 700px) {
  .oversized-cargo__list-items li:nth-child(4n-2) div::before {
    background-image: url(../img/svg/oversized-cargo-2-2.svg);
  }
}

.oversized-cargo__list-items li:nth-child(4n-3) div::before {
  background-image: url(../img/svg/oversized-cargo-1.svg);
}

.oversized-cargo__list-items h3 {
  margin: 0;
  margin-bottom: 16px;

  line-height: 22px;
  color: $color-default-white;
}

.oversized-cargo__list-items p {
  margin: 0;
  max-width: 335px;

  font-size: 14px;
  line-height: 20px;
  color: $color-grey-decor;
}
