.oversized-cargo-cost {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media  screen and (max-width: 1000px) {
  .oversized-cargo-cost {
    flex-direction: column;
  }
}

.oversized-cargo-cost__wrapper {
  max-width: 775px;
  padding-top: 41px;
}

@media  screen and (max-width: 1000px) {
  .oversized-cargo-cost__wrapper {
    margin-bottom: 48px;
  }
}

.oversized-cargo-cost__wrapper h2 {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-title;
}

.oversized-cargo-cost__wrapper h2 span {
  color: $color-general;
}

@media  screen and (max-width: 665px) {
  .oversized-cargo-cost__table-wrap {
    width: 0;        // for table scroll
    min-width: 100%; // for table scroll
    overflow: auto;  // for table scroll
  }
}

.oversized-cargo-cost__table {
  display: flex;
  flex-direction: column;
  width: 100%;

  border-collapse: collapse;
}

@media  screen and (max-width: 665px) {
  .oversized-cargo-cost__table {
    width: 665px;  // for table scroll
  }
}

.oversized-cargo-cost__table thead tr {
  display: flex;
  margin-bottom: 33px;
}

.oversized-cargo-cost__table th {
  width: 33.33333%;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
  text-align: left;
}

.oversized-cargo-cost__table th:nth-child(2) {
  padding-left: 30px;
}

.oversized-cargo-cost__table th span {
  color: $color-general;
}

.oversized-cargo-cost__table tbody tr {
  display: flex;
  margin-bottom: 40px;
}

.oversized-cargo-cost__table tbody tr td {
  width: 33.33333%;
}

.oversized-cargo-cost__table tbody tr td:nth-child(2) {
  padding-left: 30px;
}

.oversized-cargo-cost__table td p {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.oversized-cargo-cost__table td p:nth-child(2n) {
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.oversized-cargo-cost__note {
  max-width: 735px;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

.oversized-cargo-cost__wrap {
  max-width: 390px;
}

@media  screen and (max-width: 768px) {
  .oversized-cargo-cost__wrap {
    max-width: 100%;
  }
}
