.reviews {
  margin-bottom: 120px;
}

.reviews__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media  screen and (max-width: 768px) {
  .reviews__wrapper {
    margin-bottom: 48px;
  }
}

.reviews__header {
  position: relative;
}

.reviews__header::before {
  content: "";

  position: absolute;

  top: 8px;
  left: -45px;

  width: 155px;
  height: 52px;

  background-image: url(../img/svg/rectangle-3.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 768px) {
  .reviews__header::before {
    top: -1px;
  }
}


.reviews h2 {
  position: relative;
  margin: 0;
  margin-top: 9px;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-title;

  z-index: 5;
}

@media  screen and (max-width: 768px) {
  .reviews h2 {
    margin-top: 0;
  }
}

.reviews__buttons-slider {
  display: flex;
}

@media  screen and (max-width: 768px) {
  .reviews__buttons-slider {
    display: none;
  }
}

.reviews__btn-prev,
.reviews__btn-next {
  position: relative;
  width: 52px;
  height: 52px;

  cursor: pointer;
  border: 1px solid $color-grey-decor;
}

.reviews__btn-prev {
  margin-right: 16px;
}

.reviews__btn-prev:hover,
.reviews__btn-next:hover {
   opacity: 0.7;
}

.reviews__btn-prev::before,
.reviews__btn-next::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 13px;
  height: 23px;

  background-repeat: no-repeat;
}

.reviews__btn-prev::before {
  background-image: url(../img/svg/arrow-btn-prev.svg);
}

.swiper-button-disabled.reviews__btn-prev::before {
  background-image: url(../img/svg/arrow-btn-prev-disabled.svg);
}

.reviews__btn-next::before {
  background-image: url(../img/svg/arrow-btn-next.svg);
}

.swiper-button-disabled.reviews__btn-next::before {
  background-image: url(../img/svg/arrow-btn-next-disabled.svg);
}

.reviews__buttons-slider .swiper-button-disabled {
  cursor: default;
}

.swiper-button-disabled.reviews__btn-prev:hover,
.swiper-button-disabled.reviews__btn-next:hover {
  opacity: 1;
}

.reviews__slider-container {
  width: 100%;

  box-shadow: 16px 0px 20px -16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media  screen and (max-width: 768px) {
  .reviews__slider-container {
    overflow: visible;
  }
}

.reviews__slider-wrapper {
  display: flex;
  justify-content: initial;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__slider-wrapper li {
  position: relative;
  display: flex;
  flex-shrink: 0;
  padding-top: 139px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: $color-grey-background;

}

@media  screen and (max-width: 768px) {
  .reviews__slider-wrapper li {
    padding-top: 131px;
  }
}

.reviews__slider-wrapper li::before {
  content: "";

  position: absolute;

  top: 36px;
  left: 30px;

  width: 95px;
  height: 87px;

  background-image: url(../img/svg/quotes.svg);
  background-repeat: no-repeat;
}

@media  screen and (max-width: 768px) {
  .reviews__slider-wrapper li::before {
    width: 88px;
    height: 80px;
  }
}

.reviews__card-text p {
  position: relative;
  max-width: 300px;
  margin: 0;
  padding-bottom: 24px;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

@media  screen and (max-width: 768px) {
  .reviews__card-text p {
    max-width: 240px;
  }
}

.reviews__card-text p::before {
  content: "";

  position: absolute;

  left: 0;
  bottom: 0;

  width: 80px;
  height: 1px;
  background-color: $color-grey-decor;
}

.reviews__card-text h3 {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 4px;

  font-size: 20px;
  line-height: 24px;
  color: $color-title;
}

.reviews__card-text span {
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-text;
}

@media  screen and (max-width: 768px) {
  .reviews__card-img {
    position: absolute;

    top: 30px;
    right: 30px;

    width: 60px;
    height: 85px;
  }
}

.reviews__card-img a {
  display: block;
  border: 1px solid $color-general;
}
