.transportation {
  background-color: $color-title;
}

.transportation .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.transportation__header {
  position: relative;

  margin-bottom: 57px;
}

.transportation__header::before {
  content: "";

  position: absolute;

  top: -3px;
  left: -45px;

  width: 199px;
  height: 52px;

  background-image: url(../img/svg/rectangle-5.svg);
  background-repeat: no-repeat;
}

.transportation__header h2 {
  position: relative;
  margin: 0;

  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: $color-default-white;

  z-index: 1;
}

.transportation__header h2 span {
  color: $color-general;
}

.transportation ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 24px;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media  screen and (max-width: 768px) {
  .transportation ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media  screen and (max-width: 540px) {
  .transportation ul {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
  }
}

.transportation ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 20px;
}


.transportation ul svg {
  width: 100%;
  height: auto;
  max-width: 118px;
}

.transportation ul a svg path {
  fill:#DDDFE7;
}

.transportation ul a:hover svg path {
  fill: #E9BC24;
}

.transportation ul a svg path:nth-of-type(1) {
  fill: #23262D;
}

.transportation ul a:hover svg path:nth-of-type(1) {
  fill: #434233;
}

.transportation__title {
  position: relative;
  margin-top: 16px;
}

.transportation__title::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 251px;
  height: 38px;

  background-image: url(../img/svg/rectangle-6.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 1090px) {
  .transportation__title::before {
    width: 200px;
    background-size: contain;
  }
}

@media  screen and (max-width: 890px) {
  .transportation__title::before {
    width: 170px;
  }
}

@media  screen and (max-width: 768px) {
  .transportation__title::before {
    width: 206px;
  }
}

@media  screen and (max-width: 690px) {
  .transportation__title::before {
    width: 170px;
  }
}

@media  screen and (max-width: 590px) {
  .transportation__title::before {
    width: 160px;
  }
}


.transportation ul a:hover .transportation__title::before {
  background-image: url(../img/svg/rectangle-7.svg);
}

.transportation h3 {
  position: relative;
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $color-default-white;

  z-index: 1;
}

@media  screen and (max-width: 1090px) {
  .transportation h3 {
    max-width: 130px;
  }
}

@media  screen and (max-width: 540px) {
  .transportation h3 {
    font-size: 14px;
    line-height: 20px;
  }
}

.transportation a:hover h3 {
  color: $color-title;
}
