<div class="modal__wrap">
  <form class="form form--light" action="#" method="POST">
    <h2><span>Нет времени</span> разбираться?</h2>

    <p>Заполните форму, наш менеджер ответит в ближайшее время</p>

    <div class="form__wrap">
      <div class="form__field form__field-name">
        <label class="visually-hidden" for="name-light-modal">Имя</label>
        <input type="text" name="name-light" id="name-light-modal" placeholder="Имя" required="">
        <span class="form__error">Некорректное имя</span>
      </div>

      <div class="form__field form__field-phone">
        <label class="visually-hidden" for="phone-light-modal">Номер телефона</label>
        <input type="tel" name="phone-light" id="phone-light-modal" placeholder="Номер телефона" required="">
        <span class="form__error">Некорректный номер телефона</span>
      </div>
    </div>

    <div class="form__wrap">
      <div class="form__btn">
        <button class="btn" type="submit" aria-label="Получить консультацию">
          <span>Получить консультацию</span>
        </button>
      </div>

      <div class="form__field form__field-check">
        <input class="visually-hidden form__checkbox" id="check-light-modal" type="checkbox" name="check-light-modal" required="" checked>
        <label for="check-light-modal">Я даю согласие на обработку <span>моих персональных данных</span>, в соответствии с <a href="#"><span>Политикой конфиденциальности</span></a></label>
      </div>
    </div>
  </form>
</div>
