.container {
  width: 100%;
  max-width: 1365px;
  margin: 0 auto;
  padding: 0 45px;



  @include viewport--xs {
    padding: 0 20px;
  }

  &--no-padding {
    @include viewport--xs {
      padding: 0;
    }
  }
}
